<!DOCTYPE html>
<html>
<head>
</head>
<body>	
<script>
	var data;
	var request = new XMLHttpRequest();
	request.open('GET', 'https://api.coinpaprika.com/v1/tickers', true);
	request.onload = function() {
		data = JSON.parse(this.response);
		if (request.status >= 200 && request.status < 400) {
			document.getElementById("btn").disabled = false;
  		}
  		else {
    		console.log('error')
  		}
	};
	request.send();

	function btn(){
		var inText = document.getElementById("in").value;
		var outText = document.getElementById("out");
		var myError = document.getElementById("errors");
		var bigError = document.getElementById("big_error");
		var coinType;
		var regName;
		var regPrice;
		var price;

		myError.innerHTML = "";
		bigError.innerHTML = "";

	while (true) {
		coinType = inText.match('(?<={{ Name\/)([A-Z0-9]*?)(?= }})');
		if (coinType === null){
			coinType = inText.match('(?<={{ Price\/)([A-Z0-9]*?)(?= }})');
			if (coinType === null) {
				break;
			}
		}
		var found = data.find(({ symbol }) => symbol === coinType[0] );
		if (found === undefined) {
			if (coinType[0] === ""){
				regName = new RegExp ('Name\/ }}', 'gm');
				inText = inText.replace(regName, 'error }}');

				regPrice = new RegExp ('Price\/ }}', 'gm');
				inText = inText.replace(regPrice, 'error }}');

				myError.insertAdjacentHTML('beforeend', " Missing coin value. | ");
			}
			else {
				try {
				regName = new RegExp ('Name\/' + coinType[0], 'gm');
				inText = inText.replace(regName, 'error');

				regPrice = new RegExp ('Price\/' + coinType[0], 'gm');
				inText = inText.replace(regPrice, 'error');

				myError.insertAdjacentHTML('beforeend', coinType[0] + " not found. | ");	

  
				}
				catch(err) {
					bigError.innerHTML = err.message;
				}

			}
			continue;
		}
		regName = new RegExp ('{{ Name\/' + coinType[0] + ' }}', 'gm');
		inText = inText.replace(regName, found.name);
		regPrice = new RegExp ('{{ Price\/' + coinType[0] + ' }}', 'gm');
		price = '$' + found.quotes.USD.price.toFixed(2);
		inText = inText.replace(regPrice, price);
				
	}
	outText.value = inText;
}
</script>
<div style="margin: auto; width: 80%;">
	<div>
	<textarea id="in" rows="20" cols="70"></textarea>
	<textarea id="out" rows="20" cols="70"></textarea>
	</div>
	<div id="errors"></div>
	<div id="big_error"></div>
	<div>
	<button id="btn" disabled onclick="btn()">Convert</button>
	</div>
</div>

</body>
</html>